@model Books.Application.DTO.UserDTO
@{
    ViewData["Title"] = "Профиль";
}
<form method="post" class="mt-5 pt-5" enctype="multipart/form-data">
    <div class="container-fluid">
        <div class="bg-white border box-shadow mb-3 rounded p-3">
            <div class="row pt-3">
                <div class="col-sm-4">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <input type="file" accept="image/*" class="w-100 form-control-file" name="newImage" id="file" />
                            </div>
                        </div>
                        @if (Model.Image != null && Model.Image.Length != 0)
                        {
                            var img = Convert.ToBase64String(Model.Image);
                            <div class="row">
                                <div class="col-sm">
                                    <img src="data:image/jpg;base64,@img" />
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <div class="col-sm">
                    <div class="row mb-2">
                        <div class="col-sm-3">
                            <h5>Логин</h5>
                        </div>
                        <div class="col-sm">
                            <input type="text" class="w-100 form-control" value="@Model.Login" disabled />
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-3">
                            <h5>Пароль</h5>
                        </div>
                        <div class="col-sm">
                            <input type="password" name="Password" class="w-100 form-control" required/>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-3">
                            <h5>Новый пароль</h5>
                        </div>
                        <div class="col-sm">
                            <input type="password" name="NPassword" class="w-100 form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <h5>Подтвердите пароль</h5>
                        </div>
                        <div class="col-sm">
                            <input type="password" name="CPassword" class="w-100 form-control" />
                        </div>
                    </div>
                </div>
            </div>

            @if (ViewData["Error"] != null)
            {
                <div class="row">
                    <div class="col-sm pt-3 text-danger">
                        <p>@ViewData["Error"]</p>
                    </div>
                </div>
            }

            <div class="row">
                <div class="col-sm p-4">
                    <button class="w-100 p-2 btn btn-outline-warning">Изменить</button>
                </div>
            </div>
        </div>
    </div>
</form>