@model string
@{
    ViewData["Title"] = "Авторизация";
}
<form method="post" class="mt-5 pt-5">
    <div class="container-fluid pt-5" style="text-align: center">
        <div class="d-inline-block bg-white border box-shadow mb-3 rounded p-3">
            <div class="row">
                <div class="col-sm-6">
                    <h4>Логин</h4>
                </div>
                <div class="col-sm-6">
                    <h4>Пароль</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <input type="text" name="Login" class="w-100 form-control" required value="@Model"/>
                </div>
                <div class="col-sm-6">
                    <input type="password" name="Password" class="w-100 form-control" required />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <p>Введите ваш логин</p>
                </div>
                <div class="col-sm-6">
                    <p>Введите ваш пароль</p>
                </div>
            </div>

            @if (Model != null)
            { 
                <div class="row">
                    <div class="col-sm pt-3 text-danger text-center">
                        <p>Ошибка авторизации: Неверный логин или пароль.</p>
                    </div>
                </div>
            }

            <div class="row">
                <div class="col-sm p-4">
                    <button class="w-100 p-2 btn btn-outline-warning">Авторизоваться</button>
                </div>
            </div>
        </div>
    </div>
</form>