@model Books.Application.DTO.RegistrationError
@{
    ViewData["Title"] = "Регистрация";
}
<form method="post" class="mt-5 pt-5">
    <div class="container-fluid pt-5" style="text-align: center">
        <div class="d-inline-block bg-white border box-shadow mb-3 rounded p-3">
            <div class="row mt-2 text-left mb-4">
                <div class="col-sm-4">
                    <h4>Login</h4>
                </div>
                <div class="col-sm">
                    @if (Model != null)
                    {
                        <input type="text" name="Login" class="w-100 form-control" required value="@Model.Parameter" />
                    }
                    else
                    {
                        <input type="text" name="Login" class="w-100 form-control" required />
                    }
                </div>
            </div>

            <div class="row mt-2 text-left mb-4">
                <div class="col-sm-4">
                    <h4>Password</h4>
                </div>
                <div class="col-sm">
                    <input type="password" name="Password" class="w-100 form-control" required />
                </div>
            </div>

            <div class="row mt-2 text-left">
                <div class="col-sm-4">
                    <h4>Confirm Password</h4>
                </div>
                <div class="col-sm">
                    <input type="password" name="PasswordC" class="w-100 form-control" required />
                </div>
            </div>

            @if (Model != null)
            {
                <div class="row">
                    <div class="col-sm pt-3 text-danger">
                        <p>@Model.Error</p>
                    </div>
                </div>
            }

            <div class="row">
                <div class="col-sm p-4">
                    <button class="w-100 p-2 btn btn-outline-warning">Зарегистрироваться</button>
                </div>
            </div>
        </div>
    </div>
</form>