@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Книги</title>
</head>
<body>
    <h3>Добавление книги</h3>
    <form method="post">
        <input type="hidden" name="Id"/>
        <p>
            <label>Title</label>
            <input type="text" name="Title" required/>
        </p>
        <p>
            <label>Short description</label>
            <input type="text" name="DescriptionShort" required/>
        </p>
        <p>
            <label>Long description</label>
            <input type="text" name="DescriptionLong" required/>
        </p>
        <br /><br />
        <button>Добавить книгу</button>
    </form>
</body>
</html>