@model Application.DTO.BookDTO
<!DOCTYPE html>
<html>
<head>
    <title>Книги</title>
</head>
<body>
    <h3>@Model.Title</h3>
    <p>@Model.DescriptionLong</p>
    <a href="~/Home/AddReview/@Model.Id">Добавить отзыв</a>
</body>
</html>