@model HashSet<Application.DTO.BookDTO>
<!DOCTYPE html>
<html>
<head>
    <title>Книги</title>
</head>
<body>
    <h3>Книги</h3>
    @if (Model.Count() > 0)
    {
    <table>
        <tr>
            <td>Id</td>
            <td>Заголовок</td>
            <td>Описание</td>
            <td></td>
        </tr>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Id</td>
                <td><a href="~/Home/Book/@book.Id">@book.Title</a></td>
                <td>@book.DescriptionShort</td>
                <td><a href="~/Home/ChangeBook/@book.Id">Изменить</a></td>
            </tr>
        }
    </table>
    }
    else
    {
        <p>Упсс... ничего не найдено</p>
    }
</body>
</html>