@model List<Application.DTO.BookDTO>
<!DOCTYPE html>
<html>
<head>
    <title>Книги</title>
</head>
<body>
    <form method="get" action="/FindBook">
        <input type="text" name="pattern" />
        <button>Найти</button>
        <a href="/Home/Book/Filters">Расширенный поиск</a>
    </form>
    <h3>Книги</h3>
    <form method="get" action="~/AddBook">
        <table>
            <tr>
                <td>Id</td>
                <td>Заголовок</td>
                <td>Описание</td>
                <td></td>
            </tr>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.Id</td>
                    <td><a href="~/Home/Book/@book.Id">@book.Title</a></td>
                    <td>@book.DescriptionShort</td>
                    <td><a href="~/Home/ChangeBook/@book.Id">Изменить</a></td>
                    <td><a href="~/Home/DeleteBook/@book.Id">Удалить</a></td>
                </tr>
            }
        </table>
        <br />
        <button>Добавить книгу</button>
    </form>
</body>
</html>