/Books.Appliaciotion/bin/
/Books.Appliaciotion/obj/
/Books.DAL/bin/
/Books.DAL/obj/
/Books.Domain/bin/
/Books.Domain/obj/
/Books.Infrastructure/bin/
/Books.Infrastructure/obj/
/Books.WebAPI/bin/
/Books.WebAPI/obj/