@model IEnumerable<Application.DTO.BookSeriesDTO>
<!DOCTYPE html>
<html>
<head>
    <title>Серии</title>
</head>
<body>
    <h3>Серии</h3>
    <form method="get" action="~/addBookSeries">
        <table>
            <tr>
                <td>Id</td>
                <td>Серия</td>
                <td></td>
            </tr>
            @foreach (var series in Model)
            {
                <tr>
                    <td>@series.Id</td>
                    <td>@series.SeriesName</td>
                    <table>
                        @foreach (var book in series.BooksDTO)
                        {
                            <tr><td><pre>     @book.Title</pre></td></tr>
                        }
                    </table>
                </tr>
            }
        </table>
        <br />
        <button>Добавить серию</button>
    </form>
</body>
</html>