@model IEnumerable<Data.Book>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Книги</title>
</head>
<body>
    <h3>Книги</h3>
    <table>
        <tr>
            <td>Id</td>
            <td>Заголовок</td>
            <td>Описание</td>
            <td></td>
        </tr>
        @foreach (var book in Model)
            {
                <tr>
                    <td>@book.Id</td>
                    <td><a href="~/Home/Book/@book.Id">@book.Title</a></td>
                    <td>@book.DescriptionShort</td>
                </tr>
            }
    </table>
</body>
</html>