@model Books.Application.DTO.UserDTO;
@{
    ViewData["Title"] = "Ваши книги";
}
<div class="container">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    @if (Model.BookRents.Count() == 0)
                    {
                        <div class="bg-white container border box-shadow mb-3 rounded p-3">
                            <div class="row">
                                <div class="col-sm">
                                    У вас еще нет книг для прочтения!
                                </div>
                            </div>
                        </div>
                    }

                    @foreach (var rent in Model.BookRents)
                    {
                        <div class="bg-white container border box-shadow mb-3 rounded p-3">
                            <div class="row">
                                <div class="col-sm">
                                    <h6><a href="#">@rent.Book.Title</a></h6>
                                </div>
                                <div class="col-sm">
                                    <p>До @rent.EndDate.ToShortDateString()</p>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>