@model Books.Application.DTO.ListDTO
@{
    ViewData["Title"] = "Поиск книги";
}
<h3>Поиск книги</h3>
<form method="post" action="~/Home/BookResult">
    <input type="hidden" name="Id" />
    <p>
        <label>Название книги/серии</label>
        <input type="text" name="title" required />
    </p>
    <p>
        <label>Средняя оценка</label>
        <input type="number" max="5" min="0" step="0.1" name="rating" required />
    </p>
    <p>
        <label>Author</label>
        <select name="author">
            @foreach (var author in Model.AuthorDTO)
            {
                <option value="@author.Id">@author.LastName</option>
            }
        </select>
    </p>
    <p>
        <label>Tags</label><br />
        @foreach (var tag in Model.TagDTO)
        {
            <input type="checkbox" name="tags" value="@tag.Id" />@tag.TagName<br />
        }
    </p>
    <br /><br />
    <button>Найти книгу</button>
</form>