<!DOCTYPE HTML>
<html>
<head>
    <title>Авторизация</title>
</head>
<body>
    <form method="post">
        <p>
            <h4></h4>
            <input type="text" />
        </p>
        <p>
            <h4></h4>
            <input type="text" />
        </p>
        <input type="button" />
    </form>
</body>
</html>