@{
    ViewData["Title"] = "Ошибка";
}
<div class="row">
    <div class="col-sm">
        <img src="~/img/waiter.png" />
    </div>
    <div class="col-sm mt-5">
        <h5>Упсс... Что-то пошло не так! Обратитесь к вашему администратору</h5>
        <a class="text-danger" asp-area="" asp-controller="Book" asp-action="Index">На главную</a>
    </div>
</div>
