@model Books.Application.DTO.TagDTO
@{
    ViewData["Title"] = "Изменение тэга";
}
<form method="post" class="pt-2">
    <div class="container-fluid" style="text-align: center">
        <h3 class="text-left">Тэг</h3>
        <div class="d-sm-block bg-white border box-shadow mb-3 rounded p-3">

            <input type="hidden" value="@Model.Id" name="Id" />

            <div class="row mt-2 text-left">
                <div class="col-sm-4">
                    <h4>Name</h4>
                </div>
                <div class="col-sm">
                    <input type="text" name="TagName" value="@Model.TagName" required class="w-100 form-control" />
                </div>
            </div>

            <div class="row mt-2 text-left">
                <button class="m-4 p-2 col-sm btn btn-outline-warning">Изменить тэг</button>
            </div>
        </div>
    </div>
</form>