@model List<Books.Application.DTO.TagDTO>
@{
    ViewData["Title"] = "Тэги";
}
<div class="container">
    <div class="row mb-3">
        <div class="col-sm">
            <h3>Тэги</h3>
        </div>
        <div class="col-sm-3">
            <form method="get" class="col-sm" action="~/AddTag">
                <button class="w-100 p-2 btn btn-outline-warning">Добавить тэг</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    @foreach (var tag in Model)
                    {
                        <div class="bg-white container border box-shadow mb-3 rounded p-3">
                            <div class="row">
                                <div class="col-sm">
                                    <h5>@tag.TagName</h5>
                                </div>

                                <div class="col-sm-3 align-items-end">
                                    <div class="row text-center">
                                        <div class="col-sm">
                                            <a href="~/Tag/ChangeTag/@tag.Id">Изменить</a>
                                        </div>
                                        <div class="col-sm">
                                            <a href="~/Tag/DeleteTag/@tag.Id">Удалить</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>