@{
    ViewData["Title"] = "Поиск автора";
}
<h3>Поиск автора</h3>
<form method="post" action="Result">
    <p>
        <input type="text" name="pattern" required />
        <button>Найти</button>
    </p>
</form>